---
layout: archive
title: Archives
---
{% comment %}Limitation of this is that need a post each month for it to differentiate between years, etc{% endcomment %}
<ul id="archives">
{% for post in site.posts %}
	{% comment %}This closes the nested list if a new month has begun, unless it's the very first post of course.{% endcomment %}
	{% capture thispostmonth %}{{ post.date | date: "%B" }}{% endcapture %}
	{% if thispostmonth != lastpostmonth %}
		{% unless forloop.first %}
		</ul>
	</li>
		{% endunless %}
	{% endif %}
	{% comment %}This opens the nested list for a new month or if its the very first post in the loop{% endcomment %}
	{% if forloop.first or lastpostmonth != thispostmonth %}
	<li>{{post.date | date: "%B %Y"}}
		<ul>
	{% endif %}

	<li class="{% for topic in post.categories %} {{ topic }} {{ endfor }}" ><a href="{{ post.url }}" title="{{ post.title }}"><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%d" }}</time>
			{% case post.type %} 
				{% when 'text' %}
					<span class="title">{{ post.title }}</span><span>{{ post.content | truncate: 200 }}</span>
				{% when 'photo' %}
					<img src="{{ post.photo }}" alt="{{ post.title }}" width="100px" />
				{% when 'quote' %}
					<span class="title">"{{ post.quote }}"</span><span>{{ post.content | truncate: 200 }}</span>
				{% when 'link' %}
					<span class="title">&#187; {{ post.link }}</span>
				{% when 'chat' %}
					{% comment %}Don't know{% endcomment %}
				{% when 'audio' %}
					{% comment %}Include a play icon{% endcomment %}
				{% when 'video' %}
					{% if post.video contains 'youtube' %}
						<img src="http://img.youtube.com/vi/{{ post.video | remove:'http://www.youtube.com/watch?v=' }}/2.jpg" />
					{% elsif post.video contains 'vimeo' %}
						<img src="" id="vimeo-{{ post.video | remove:'http://vimeo.com/' }}" />
						<script type="text/javascript">vimeoLoadingThumb({{ post.video | remove:'http://vimeo.com/' }});</script>
					{% else %}
						<img src=" " width ="100px" />
					{% endif %}
			{% endcase %}
	</a></li>

	{% capture lastpostmonth %}{{ post.date | date: "%B" }}{% endcapture %}

{% endfor %}
</ul>
