---
layout: 
title: Elsewhere
---
{% include page_header.html %}
<article>
	<p>My 'particules élémentaires': making pictures (don't do enough); writing bits of code (don't do well enough); cycling fixie (do far too much). Oh and ponies.</p>
	<p>Contact me via <a href="http://rstat.us/users/atomicules">rstat.us</a> or <a href="http://twitter.com/atomicules">Twitter</a>.</p>
	<p>You can also find me here:</p>
	<div id="elsewhere">
		<a href="http://stackoverflow.com/users/208793/atomicules"><img src="images/elsewhere/stackoverflow_noise.png" alt="Stackoverflow" /></a>
		<a href="http://github.com/atomicules"><img src="images/elsewhere/github_noise.png" alt="Github" /></a>
		<a href="http://pinboard.in/u:atomicules"><img src="images/elsewhere/pinboard_noise.png" alt="Pinboard" /></a>
		<a href="http://rstat.us/users/atomicules"><img src="images/elsewhere/rstatus_noise.png" alt="rstat.us" /></a>
		<a href="http://twitter.com/atomicules"><img src="images/elsewhere/twitter_noise.png" alt="Twitter" /></a>
		<a href="http://alpha.libre.fm/user/atomicules"><img src="images/elsewhere/librefm_noise.png" alt="Libre.fm" /></a>
		<a href="http://www.last.fm/user/i5m"><img src="images/elsewhere/lastfm_noise.png" alt="Last.fm" /></a>
		<a href="http://www.flickr.com/people/i-5-m/"><img src="images/elsewhere/flickr_noise.png" alt="flickr" /></a>
		<a href="http://vimeo.com/atomicules"><img src="images/elsewhere/vimeo_noise.png" alt="Vimeo" /></a>
	</div>
	<br /><!--Lazy coding, won't keep this here forever, hopefully-->
	<p>Flavor Flav once bought me a pint. There, I've told you now.</p>
	
</article>
{% include page_footer.html %}
