---
layout: 
title: Elsewhere
---
{% include page_header.html %}
<article>
	<p>I like to dabble in Art (well film photography) and Code. I do silly amounts of fixed gear cycling. Custard and porridge keep me going. At weekends I pretend to be a farmer and it's all ponies, ponies, ponies!</p>
	<p>Contact me via rtat.us or Twitter.</p>
			
	<div id="elsewhere">
		<a href="http://www.flickr.com/people/i-5-m/"><img src="images/elsewhere/flickr_noise.png" alt="Convore" /></a>
		<a href="http://mlkshk.com/user/i5m"><img src="images/elsewhere/mlkshk_noise.png" alt="MLKSHK" /></a>
		<a href="http://www.last.fm/user/i5m"><img src="images/elsewhere/lastfm_noise.png" alt="Last.fm" /></a>
		<a href="http://vimeo.com/i5m"><img src="images/elsewhere/vimeo_noise.png" alt="Vimeo" /></a>
		<a href="http://stackoverflow.com/users/208793/i5m"><img src="images/elsewhere/stackoverflow_noise.png" alt="Stackoverflow" /></a>
		<a href="http://github.com/i5m"><img src="images/elsewhere/github_noise.png" alt="Github" /></a>
		<a href="https://convore.com/users/i5m/"><img src="images/elsewhere/convore_noise.png" alt="Convore" /></a>
		<a href="http://disqus.com/i5m/"><img src="images/elsewhere/disqus_noise.png" alt="Disqus" /></a>
		<a href="http://custardycling.co.uk"><img src="images/elsewhere/custardycling_noise.png" alt="Custardycling" /></a>
		<a href="http://pinboard.in/u:i5m"><img src="images/elsewhere/pinboard_noise.png" alt="Pinboard" /></a>
		<a href="http://rstat.us/users/i5m"><img src="images/elsewhere/rstatus_noise.png" alt="rstat.us" /></a>
		<a href="http://twitter.com/i5m"><img src="images/elsewhere/twitter_noise.png" alt="Twitter" /></a>
		<!--<a href="http://fever.i5m.co.uk/?rss=saved"><img src="images/elsewhere/fever_noise.png" alt="Fever" /></a>-->


	</div>
	<br /><!--Lazy coding, won't keep this here forever, hopefull-->
	<p>Flavor Flav once bought me a pint. There, I've told you now.</p>
	
</article>
{% include page_footer.html %}
