<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>i5m - {{ page.title }}</title>
		<link rel="shortcut icon" href="/images/favicon.png" />
		<link rel="alternate" type="application/atom+xml" href="/atom.xml" />
		<link href="/styles/i5m.css" media="screen" rel="Stylesheet" title="i5m" type="text/css" />
		<!-- Theme originally based on Pro White 1.0 (http://customthemes.tumblr.com/post/70461310/prowhite-by-josh-jenkins-based-on-black-and-blue), but it has come a long way since then - this blog is no longer on Tumblr for starters! -->
		<link rel="openid.server" href="http://www.myopenid.com/server"> 
		<link rel="openid.delegate" href="http://i5m.myopenid.com/"> 
		<link rel="me" type="text/html" href="http://www.google.com/profiles/i5ivem" /> 
		<script type="text/javascript" >
			//From http://stackoverflow.com/questions/1361149/get-img-thumbnails-from-vimeo/4285098#4285098
			function vimeoLoadingThumb(id){    
				var url = "http://vimeo.com/api/v2/video/" + id + ".json?callback=showThumb";

				var id_img = "vimeo-" + id;
				var script = document.createElement('script');
				script.type = 'text/javascript';
				script.src = url;
				document.getElementById(id_img).parentNode.appendChild(script);
			}

			function showThumb(data){
				var id_img = "vimeo-" + data[0].id;
				document.getElementById(id_img).src = data[0].thumbnail_small;
			}

			function showCategory(category) {
				var site = document.getElementsByClassName("site");
				var code = document.getElementsByClassName("code");
				var art = document.getElementsByClassName("art");
				switch (category) {
					case "art":
						for (var i = 0; i < site.length; i++) {site[i].style.display = 'none'};
						for (var i = 0; i < code.length; i++) {code[i].style.display = 'none'};
						for (var i = 0; i < art.length; i++) {art[i].style.display = ''};
						break;
					case "code":
						for (var i = 0; i < site.length; i++) {site[i].style.display = 'none'};
						for (var i = 0; i < art.length; i++) {art[i].style.display = 'none'};
						for (var i = 0; i < code.length; i++) {code[i].style.display = ''};
						break;
					case "all":
						for (var i = 0; i < site.length; i++) {site[i].style.display = ''};
						for (var i = 0; i < art.length; i++) {art[i].style.display = ''};
						for (var i = 0; i < code.length; i++) {code[i].style.display = ''};
				}
			}

			function filterCategory() {
				if (document.forms.filter.category[0].checked) {
					category = "art"
				}
				if (document.forms.filter.category[1].checked) {
					category = "code"
				}
				if (document.forms.filter.category[2].checked) {
					category = "all"
				}
				showCategory(category)
			}
			

		</script>
	</head>
	<body>
		<header>
			<hgroup>
				<h1 id="avatar"><a href="/">i5m</a></h1>
				<h2>Probably <a href="/art.html">art</a> + <a href="/code.html">code</a> in the loosest sense of those words.</h2>
			</hgroup>
			<nav id="links">
				<ul>
					<li><a href="/archive.html">Archive</a></li>
					<li><a href="/elsewhere.html" rel="me">Elsewhere</a></li>
				</ul>
			</nav>		
			<iframe src="http://duckduckgo.com/search.html?width=73&site=i5m.co.uk" style="overflow:hidden;margin:0;padding:0;width:121px;height:38px;" frameborder="0"></iframe>
		</header>
		<section>		
