---
---
<header>
	<a href="{{ post.url }}" class="permalink">
		<time datetime="{{ post.date.year }}-{{ post.date.month }}-{{ post.date.day }}">{{ post.date.month }} {{ post.date.day }}, {{ post.date.year }}</time>
	</a>

	<h1>{{ post.title }}</h1>
</header>
<div class="postcontent text {TagsAsClasses}">
	{{ post.content }}
	<ul class="post-tags">
		{%if post.content_source %}
		<li class="tags"><i>Source: <a href="{{ post.content_source.url }}">{{ content.source }}</a></i></li>
		{% endif %}
		<li class="tags">Tags: <ul>{% for topic in post.categories %}<li><a href="/{{ topic }}">{{ topic }}</a></li>{% endfor %}</ul></li>
		
	</ul>
	<a href="{Permalink}#disqus_thread" class="commentlink">Comments</a>
	<br />
</div>

