
									<!-- Video Post -->
									{block:Video}
									</header>
									<div class="postcontent video {TagsAsClasses}">
										{Video-500}
										{block:Caption}
										<div class="descrip">{Caption}</div>
										{/block:Caption}									
										<ul class="post-tags">
											{block:RebloggedFrom}<li class="tags"><i>Reblogged from <a href="{ReblogParentURL}">{ReblogParentTitle}</a></i></li>{/block:RebloggedFrom}
											{block:HasTags}<li class="tags">Tags: <ul>{block:Tags}<li><a href="{TagURL}">{Tag}</a></li>{/block:Tags}</ul></li>{/block:HasTags}
										</ul>
										<a href="{Permalink}#disqus_thread" class="commentlink">Comments</a>
										<br />
										{/block:Video}

