---
---
{% include page_header.html %}

				{{ content }}
	

			<!-- Page Navigation -->
			<nav id="prev-next" class="autopagerize_insert_before">
			{% if page.previous.url %}
			<a id="previous" href="{{ page.previous.url }}">&#171; previous</a>
			{% endif %}
			{{ paginator.page }} of {{ paginator.total_pages}}&nbsp;
			{% if page.next.url %%}
			<a id="next" href="{{ page.next.url }}">next &#187;</a>
			{% endif %}
			</nav><!-- End of prev-next Page Navigation -->


{% include page_footer.html %}
