<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>i5m: {{ page.title }}</title>
		<link rel="shortcut icon" href="/images/favicon.png" />
		<link rel="alternate" type="application/rss+xml" href="{RSS}" />
		<link href="/styles/i5m.css" media="screen" rel="Stylesheet" title="i5m" type="text/css" />
	
	</head>
	<body>
		<header>
			<hgroup>
				<h1 id="avatar"><a href="/">i5m</a></h1>
				<h2>{{ description }}</h2>
			</hgroup>
			<nav id="links">
				<ul>
					<li><a href="/archive">Archive</a></li>
					<li><a href="http://www.google.com/profiles/i5ivem#buzz" rel="me">Buzz</a></li>
				</ul>
			</nav><!-- End of links -->			
			<iframe src="http://duckduckgo.com/search.html?site=i5m.co.uk" style="overflow:hidden;margin:0;padding:0;width:121px;height:16px;" frameborder="0"></iframe>
		</header><!-- End of Side/Top bar -->

		<section>
			<article>
				{{ content }}
			</article>
	
<!-- Needs to be moved to each post
			{block:Permalink}
			<script type="text/javascript">var disqus_url = "{Permalink}"; var disqus_title ="{block:PostTitle}{PostTitle}{/block:PostTitle}";</script>
			<div id="disqus_thread"></div><script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/i5m/embed.js"></script>
			<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
			{/block:Permalink}
			<script type="text/javascript">
				//<![CDATA[
				(function() {
					var links = document.getElementsByTagName('a');
					var query = '?';
					for(var i = 0; i < links.length; i++) {
						if(links[i].href.indexOf('#disqus_thread') >= 0) {
							query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
						}
					}
					document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/i5m/get_num_replies.js' + query + '"></' + 'script>');
					})();
//]]>
</script>
-->


	<!-- Page Navigation -->
	<nav id="prev-next" class="autopagerize_insert_before">
	{% if page.previous %}
	<a id="previous" href="{{ page.previous.url }}">&#171; previous</a>
	{% endif %}
	{{ paginator.page }} of {{ pagoinator.total_pages}}&nbsp;
	{% if page.next %%}
	<a id="next" href="{{ page.next.url }}">next &#187;</a>
	{% endif %}
	</nav><!-- End of prev-next Page Navigation -->

</section>

<footer>
Theme based on <a href="http://customthemes.tumblr.com/post/70461310/prowhite-by-josh-jenkins-based-on-black-and-blue">Pro White 1.0</a>  / Powered by <a href="http://www.github.com">Github</a> / i5m created content: <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png" /></a>
</footer>


</body>
</html>

